@import '@roots/ui';
@import '@roots/resume';

.portfolio {
    background: $clr-1;
    color: $light-text-clr;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding: 40px 0;
    }
}