@import '@roots/ui';
@import '@roots/resume';

.hero {
    height: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    color: $light-text-clr;

    .hero-text {
        .btns {
            display: flex;
            gap: 30px;
        }
    }
}