@import '@roots/ui';
@import '@roots/resume';

.border-image {
    height: 600px;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;

    i.background {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: -1;
        scale: 1.2;
    }

    .image-border {
        z-index: 1;
        position: absolute;
        top: -50px;

        height: 100%;
        width: 100%;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center top;
            border-radius: 25%;
        }

    }
}