@import '@roots/ui';
@import '@roots/resume';

section.services {
    background: $clr-2;
    color: $light-text-clr;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;

        .cards {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
    }
}