@import '@roots/ui';
@import '@roots/resume';

.about {
    background: $clr-2;
    color: $light-text-clr;
    height: 100dvh;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        place-content: center;
        place-items: center;
        gap: 30px;
    }
}