$sidebar-width: 240px;
$header-height: 70px;
$border-radius: 18px;

$clr-danger: #FE461C;
$clr-green: #3e9714;
$clr-white: #fff;
$clr-black: #202224;

$primary-btn-bg: $clr-danger;
$secondary-btn-bg: transparent;
$tertiary-btn-bg: #4880FF;

$light-text-clr: $clr-white;
$dark-text-clr: $clr-black;

$s1: .1s;
$s2: .2s;
$s3: .3s;
$s4: .4s;
$s5: .5s;

$t1: .1s ease;
$t3: .3s ease;
$t5: .5s ease;