@import '@roots/ui';
@import '@roots/admin';

.card {
    background-color: $cl-2;
    border-radius: $border-radius;
    padding: 15px;
    flex: 1;

    .card-title {
        font-weight: 600;
        font-size: 16px;
        color: $dark-text-clr;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        svg {
            font-size: 40px;
        }
    }

    .card-content {
        font-size: 50px;
        font-weight: 700;
    }
}
