@import '@roots/resume';

.image-container {
    position: relative;
    background: $clr-3;
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1;

    .icon {
        position: absolute;
        padding: 15px;
        background: #000;
        width: 72px;
        overflow: hidden;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        img {
            height: 100%;
        }

        &.xd, &.figma {
            left: 0;
        }
        &.sketch, &.photoshop {
            right: 0;
        }
        &.figma,&.photoshop {
            top: 0;
        }
        &.xd,&.sketch {
            bottom: 0;
        }
    }
}