@import '../../root.scss';

li.list-item {
    letter-spacing: .1rem;
    font-weight: 700;
    cursor: pointer;
    transition: color $t3;
    padding: 10px;

    &:hover, &.active {
        color: $clr-danger;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}