@import '../../app/root';

.about {
    background: $clr-2;
    color: $clr-white;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        place-content: center;
        place-items: center;
    }
}