@import '@roots/ui';
@import '@roots/admin';

.card {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: $light-text-clr;

    span {
        flex: 1;
        padding: 20px 25px;
        border-radius: calc($border-radius * .5);
        box-shadow: 0 0 5px $cl-1;
        position: relative;
        font-weight: 700;
        letter-spacing: .8px;

        i {
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-style: normal;
            font-size: 10px;
            color: #ccc;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        gap: 10px;
        text-align: center;

        .client-info {
            display: flex;
            flex-direction: column;
        }

        .placement-info {
            display: flex;
            flex-flow: row wrap;

            span {
                min-width: 40%;
            }
        }

        .client-info, 
        .placement-info {
            gap: 10px;

            & > div {
                display: flex;
                gap: 10px;
            }
        }

        .budget {
            display: flex;
            gap: 10px;

            span {
                flex: 1;
                transition: flex $t3;

                &:hover {
                    flex: 3;
                }
            }
        }
    }

    .details {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .status {
            flex: 0;
            display: flex;
            padding: 0;
            text-align: center;
        }
        .comments {
            text-indent: 1rem;
            width: 100%;
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}