@import '../../app/root';

.testimonial-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: scale $t3;

    &:hover {
        scale: 1.01;

        .testimonial-content {
            box-shadow: 0 0 15px $clr-3;
        }
    }

    .testimonial-content {
        background: $clr-1;
        padding: 40px;
        border-radius: 18px;
        transition: box-shadow $t3;

        p.parag {
            padding-top: 20px;
        }

        .testimonial-header {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;

            .testimonial-title {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                font-size: 24px;

                svg {
                    font-size: 40px;
                    color: $clr-danger;
                }
            }

            .author-role {
                margin: 20px 0;
            }
        }
    }

    .author-image {
        width: 70px;
        aspect-ratio: 1;
        background: #ccc;
        border-radius: 50%;
        border: 2px solid $clr-danger;
        text-align: center;
    }
}