@import '@roots/ui';
@import '@roots/resume';

section.testimonials {
    background: $clr-2;
    color: $light-text-clr;
    height: 100dvh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .testimonial-box {
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }
    }
}