@import '../../app/root';

ul.portfolio-preview {
    $gap: 20px;
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
    list-style: none;

    .preview-group {
        display: flex;
        flex-direction: column;
        gap: $gap;

        & > * {
            flex: 1;
        }

        & > :last-child {
            flex: 2;
        }

        & > :hover {
            flex: 2;
        }

        &:nth-child(2) {
            flex-direction: column-reverse;
        }
    }
}