@import '../assets/fonts/font-faces.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans, system-ui;
}

html, body {
    height: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
    }

    
}

a { text-decoration: none; color: inherit }
input { &:focus { outline: none; } }