//clrs for resume

$clr-1: #1F2235;
$clr-2: #24263B;
$clr-3: #171929;
$clr-danger: #FE461C;
$clr-white: #fff;
$clr-green: #3e9714;

//clrs for order

$clr-01: #4A3AFF;
$clr-02: #F3F1FF;
$clr-03: #f7f7fb;

$clr-neutral-600: #6F6C90;

$text-color: #000;

$t1: .1s ease;
$t3: .3s ease;
$t5: .5s ease;

$s1: .1s;
$s3: .3s;
$s5: .5s;
