@import '@roots/ui';
@import '@roots/admin';

.sidebar-item {
    width: 100%;
    padding: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: calc($border-radius / 2);
    cursor: pointer;
    position: relative;
    color: $light-text-clr;
    transition: background $s3 ease, 
                font-size $s3 ease;

    &:hover, &.active {
        background: $cl-3;
    }

    svg {
        font-size: 24px;
        transition: transform $s3 ease;
    }

    span.tooltip {
        position: absolute;
        height: 100%;
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 70px;
        background: $cl-3;
        border-radius: inherit;
        z-index: -100;
        opacity: 0;
        visibility: hidden;
        user-select: none;
        pointer-events: none;
        transition: opacity $t1;
    }

    &:hover {
        span.tooltip {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }
}