@import '@roots/ui';

.button {
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: $border-radius * .5;
    font-weight: 700;
    color: $light-text-clr;
    font-size: 16px;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: border-radius $t3;

    &.primary {
        background: $primary-btn-bg;
    }

    &.secondary {
        background: $secondary-btn-bg;
        border-color: $clr-white;
    }

    &.tertiary {
        background: $tertiary-btn-bg;
        color: $light-text-clr;
    }

    &.xs {
        padding: 5px 10px;
        font-size: 15px;
        letter-spacing: 2px;
    }

    &:hover {
        border-radius: $border-radius;
    }
}