@import '@roots/ui';
@import '@roots/admin';

.button {
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: $border-radius * .5;
    font-weight: 700;
    color: $light-text-clr;
    font-size: 16px;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: border-radius $t3;


    &.primary {
        background: $primary-btn-bg;
    }

    &.secondary {
        background: $secondary-btn-bg;
        border-color: $clr-white;
    }

    &.tertiary {
        background: $tertiary-btn-bg;
        color: $light-text-clr;
    }

    &.square {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    &.xs {
        padding: 5px 10px;
        font-size: 15px;
        letter-spacing: 2px;

        &-square {
            padding: 10px;
        }
    }

    &.completed {
        @include state-colors($completed-clr);
    }
    &.in-progress {
        @include state-colors($in-progress-clr);
    }
    &.on-holding {
        @include state-colors($on-holding-clr);
    }
    &.rejected {
        @include state-colors($rejected-clr);
    }


    &:hover {
        border-radius: $border-radius;
    }
}