@import '../../root';

i.step {
    font-style: normal;
    font-size: 18px;
    background: $clr-02;
    font-weight: 700;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    transition: color $t3, 
                background $t3;

    &.active {
        background: $clr-01;
        color: $clr-white;
    }

    &.completed {
        background: $clr-green;
        color: $clr-white;
    }
}

span.line {
    height: 8px;
    width: clamp(10px, 3vw, 150px);
    background: $clr-02;
    border-radius: 50px;
    transition: color $t3, 
    background $t3;

    &.completed {
        background: #3e9714;
    }
}