@import '../../app/root';

button.form-btn {
    padding: 20px 40px;
    border-radius: 35px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 18px;
    background: $clr-01;
    color: $clr-white;
    transition: background $t3,
                color $t1;
    cursor: pointer;

    &:hover {
        background: $clr-02;
        color: #000;
        border-color: $clr-01;
    }

    &.hide {
        display: none;
    }
}