@import '../../../app/root';

section.order {
    background: $clr-03;
    position: relative;
    z-index: 2;
    color: $text-color;
    transition: background $t3;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 1000px;
        gap: 30px;
        z-index: 1;

        .form-wrapper {
            width: 100%;
            height: 600px;
            background: $clr-white;
            border-radius: 35px;
            box-shadow: 0 0 100px $clr-02;
            padding: 50px;
            display: flex;
            flex-direction: column;

            form {
                flex: 1;
                position: relative;

                & > * {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    padding-top: 20px;
                    top: 0;
                    transition: top $t3,
                                scale $t5;
                    opacity: 1;
                    top: 0;
                    scale: 1;

                    &.inactive {
                        opacity: 0;
                        scale: 0.8;
                        z-index: -1;
                    }
                }
            }
        }

        .btns {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            gap: 60px;
            & > * {
                flex: 1;
            }
        }
    }
}

