@import '@roots/ui';
@import '@roots/order';

.step {
    font-style: normal;
    font-size: 18px;
    background: $clr-2;
    font-weight: 700;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: color $t3, 
                background $t3;

    &.active {
        background: $clr-3;
        color: $clr-white;
    }

    &.completed {
        background: $clr-green;
        color: $clr-white;
    }

    &:hover {
        background: $clr-2;
        color: $dark-text-clr;
    }
}

.line {
    height: 8px;
    width: clamp(10px, 3vw, 150px);
    background: $clr-2;
    border-radius: 50px;
    transition: color $t3, 
    background $t3;

    &.completed {
        background: #3e9714;
    }
}