@import '../../app/root';

.placement-type {
    .cards-box {
        margin-top: 40px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
    
        :last-child {
            grid-column: span 2;
        }
    }
}
