$cl-1: #F5F6FA;
$cl-2: #FFFFFF;
$cl-3: #4880FF;

$cl-dark-1: #1B2431;
$cl-dark-2: #273142;
$cl-dark-3: #323D4E;

$cl-neutral: #E0E0E0;
$cl-black: #202224;

$s1: .1s;
$s2: .2s;
$s3: .3s;
$s4: .4s;
$s5: .5s;

$sidebar-width: 240px;
$header-height: 70px;
$border-radius: 18px;