@import '@roots/ui';
@import '@roots/resume';

section.resume {
    background: $clr-1;
    color: $light-text-clr;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        & > * {
            margin-bottom: 200px;
        }

        .resume-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
            gap: 30px;

            .tabs {
                display: flex;
                gap: 30px;
            }
        }

        .resume-image {
            display: flex;
            justify-content: end;
            align-items: end;
        }
    }
}