@import '@roots/ui';
@import '@roots/admin';

.sidebar {
    background: $cl-2;
    flex: 0;
    display: flex;
    flex-direction: column;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $header-height;
        font-weight: 700;
        font-size: 24px;
        transition: all $s3 ease;
        color: $light-text-clr;

        span {
            color: $cl-3;
        }
    }

    .sidebar-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        gap: 5px;
        flex: 1;
    
        &:not(:last-child) {
            border-bottom: 1px solid $cl-dark-3;
        }
    
        // .title {
        //     margin-left: 15px;
        //     margin-bottom: 15px;
        //     font-size: 14px;
        //     font-weight: 700;
        //     opacity: 0.5;
        //     text-transform: uppercase;
        //     letter-spacing: .5px;
        //     color: $light-text-clr;
        // }

        &.exit {
            flex: 0;
        }
    }
}