@import '@roots/ui';
@import '@roots/resume';

.preview-item {
    background: #ccc;
    border-radius: 16px;
    text-align: center;
    transition: flex $t3;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}