@import '../../app/root';

.hero {
    height: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    color: $clr-white;

    .hero-text {
        .btns {
            display: flex;
            gap: 30px;
        }
    }
}