@import '../../../app/root';

.choose-card {
    box-shadow: 0 0 20px $clr-02;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    transition: background $t3, 
                color $t1, 
                scale $t3,
                box-shadow $t3;

    &:hover, &.active {
        background: $clr-01;
        color: $clr-white;
        box-shadow: none;
    }
}