@import '../../app/root';

.social-link {
    padding: 15px;
    font-size: 30px;
    background: $clr-2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 15px $clr-3;
    position: relative;
    color: inherit;
    transition: color $t3;

    &:hover {
        color: $clr-danger;

        .social-text {
            left: 100%;
            opacity: 1;
        }
    }

    .social-text {
        position: absolute;
        font-size: 15px;
        left: 0;
        padding: inherit;
        background: inherit;
        box-shadow: inherit;
        border-radius: 0 8px 8px 0;
        user-select: none;
        opacity: 0;
        transition: left $t3, opacity $t3;
        z-index: -1;
        color: $clr-white;
    }
}